*.class
.attach_pid*
*.swp

#maven target dir
target

#idea project files
.idea
*.iml

#patches
*.patch

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#various scripts
*.sh

#disk images of any kind, just in case it is in this directory
*.iso
*.img
*.qcow
*.qcow2
*.raw

#log files
*.log
