*.class

#maven target dir
target

#idea project files
.idea
*.iml

#patches
*.patch

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#the store directory created by infinispan when running jetty:run
store

#various scripts
*.sh

