.nav-tabs {
    cursor: pointer;
}

ul.dropdown-menu li {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
    -moz-user-select: none;
}

.versioninfobox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    width : 200px;
    height : 240px;
}

.login-screen .media-body {
    padding-left: 20px;
}

.publickey {
      overflow-y: hidden;
      overflow-x: scroll;
}

/**
 * fixes for bootstrap
 */

.has-feedback .form-control-feedback {
    top: 8px;
}


/**
 * Fix for the typeahead, it does not work with modals without this.
 */
.dropdown-menu {
    z-index: 9999 !important;
}