<script type="text/ng-template" id="HostDetails.html">
    <div class="modal-header">
        <h3 class="modal-title">Host Details - {{host.address}}</h3>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="isActive('overview')" ng-click="selectView('overview')"><a href="#">Overview</a></li>
        <li role="presentation" ng-class="isActive('software')" ng-click="selectView('software')"><a href="#">Software</a></li>
        <li role="presentation" ng-class="isActive('CPU')" ng-class="" ng-click="selectView('CPU')"><a href="#">CPU</a></li>
        <li role="presentation" ng-class="isActive('RAM')" ng-class="" ng-click="selectView('RAM')"><a href="#">RAM</a></li>
        <li role="presentation" ng-class="isActive('IO')" ng-click="selectView('IO')"><a href="#">I/O</a></li>
    </ul>
    <form ng-show="isVisible('overview')">
        <div class="form-group">
            <label>ID</label>
            <input class="form-control" ng-model="host.id" disabled>
        </div>
        <div class="form-group">
            <label>dedicated: {{host.dedicated}}</label>
        </div>
        <div class="form-group">
            <label>public ssh key</label>
            <input class="form-control" ng-model="host.publicKey" disabled>
        </div>
        <div ng-if="host.capabilities">
            <div class="form-group" ng-if="host.capabilities.os">
                <label>Operating system</label>
                <input class="form-control" ng-model="host.capabilities.os" disabled>
            </div>
            <div class="form-group" ng-if="host.capabilities.distribution">
                <label>OS distribution and version</label>
                <input
                        class="form-control"
                        value="{{host.capabilities.distribution.name}} - {{host.capabilities.distribution.version.major}} {{host.capabilities.distribution.version.minor}}"
                        disabled>
            </div>
            <div class="form-group" ng-if="host.capabilities.cpuArchitecture">
                <label>CPU architecture</label>
                <input class="form-control" ng-model="host.capabilities.cpuArchitecture" disabled>
            </div>
        </div>
    </form>
    <form ng-show="isVisible('software')">
        <table class="table table-condensed">
            <tr ng-repeat="software in host.capabilities.installedSoftware">
                <td>{{software.name}}</td>
                <td>{{software.version.major}}<span ng-if="software.version.minor">.{{software.version.minor}}</span><span ng-if="software.version.build">.{{software.version.build}}</span></td>
            </tr>
        </table>
    </form>
    <form ng-show="isVisible('CPU')">
        <h2>CPU</h2>
        <div class="form-group">
            <label>total</label>
            <input class="form-control" ng-value="nrOfCpus" disabled>
        </div>

            <span ng-repeat="cpu in host.capabilities.cpus">
                <h4>CPU</h4>
                <div class="form-group" ng-if="cpu.manufacturer">
                    <label>manufacturer</label>
                    <input class="form-control" ng-model="cpu.manufacturer" disabled>
                </div>
                <div class="form-group" ng-if="cpu.version">
                    <label>version</label>
                    <input class="form-control" ng-model="cpu.version" disabled>
                </div>
                <div class="form-group" ng-if="cpu.coreCount">
                    <label>cores</label>
                    <input class="form-control" ng-model="cpu.coreCount" disabled>
                </div>
                <div class="form-group" ng-if="cpu.threadCount">
                    <label>threads</label>
                    <input class="form-control" ng-model="cpu.threadCount" disabled>
                </div>
                <div class="form-group" ng-if="cpu.maxSpeedMhz">
                    <label>max speed (Mhz)</label>
                    <input class="form-control" ng-model="cpu.maxSpeedMhz" disabled>
                </div>
            </span>

    </form>
    <form ng-show="isVisible('RAM')">

    </form>
    <form ng-show="isVisible('IO')">

    </form>
</script>
