<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="kerubApp">
<head ng-app="kerubApp">
    <meta charset="UTF-8">
    <title>kerub</title>
    <script src="webjars/angularjs/1.2.21/angular.min.js"></script>
    <script src="webjars/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/HostTab.js"></script>
    <script src="js/VersionInfo.js"></script>
    <script src="js/NewHostWizard.js"></script>
    <script src="js/MainTabs.js"></script>
    <link href="webjars/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/kerub.css" rel="stylesheet"/>
</head>
<body>

    <div ng-controller="MainTabs">
        <tabset>
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-cog"></i>Virtual machines
                </tab-heading>
                <button type="button" class="btn btn-default glyphicon glyphicon-plus">New VM</button>
                <table class="table">
                    <thead>
                        <tr>
                            <td>name</td>
                            <td>vCPUs</td>
                            <td>RAM</td>
                            <td>OS</td>
                            <td>status</td>
                            <td>load</td>
                            <td>actions</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </tab>
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-cloud"></i>Virtual networks
                </tab-heading>

            </tab>
            <tab>
                <tab-heading>
                    <i class="glyphicon glyphicon-hdd"></i>Virtual disks
                </tab-heading>
                <button type="button" class="btn btn-default glyphicon glyphicon-plus">New Disk</button>
                <table class="table">
                    <thead>
                    <tr>
                        <td>name</td>
                        <td>size</td>
                        <td>comments</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </tab>
            <tab ng-controller="HostTab">
                <tab-heading>
                    <i class="glyphicon glyphicon-wrench"></i>Hosts
                </tab-heading>
                <button type="button" class="btn btn-default glyphicon glyphicon-plus" ng-click="newHostForm()">New Host</button>
                <table class="table">
                    <thead>
                    <tr>
                        <td>address</td>
                        <td>status</td>
                        <td>dedicated</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="host in hosts">
                            <td>{{host.address}}</td>
                            <td>N/A</td>
                            <td>{{host.dedicated}}</td>
                        </tr>
                    </tbody>
                </table>

            </tab>
            <tab heading="Storage">
            </tab>
            <tab ng-controller="VersionInfo">
                <tab-heading>
                    <i class="glyphicon glyphicon-info-sign"></i>About
                </tab-heading>
                <span>version: {{versionInfo.version}}</span>
            </tab>
        </tabset>
    </div>

    <div ng-controller="Login">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Login</h3>
            </div>
            <input ng-bind="username" class="form-control" placeholder="username">
            <input ng-bind="password" class="form-control" type="password" placeholder="password">
            <div class="modal-footer">
                <button type="button" class="btn btn-primary glyphicon glyphicon-ok-sign" ng-click="login">
                    Login
                </button>
            </div>

        </script>
    </div>

    <script type="text/ng-template" id="NewHostWizard.html">
        <div class="modal-header">
            <h3 class="modal-title">New Host {{host.address}}</h3>
        </div>
        <input ng-model="host.address" class="form-control" placeholder="address" ng-change="updatePubkey()">

        <span ng-show="{{pubkeyUptoDate}}">
            <label>format</label><input ng-bind="pubkey.format">
            <label>algorithm</label><input ng-bind="pubkey.algorithm">
            <label>key</label><input ng-bind="pubkey.key">
        </span>
        <span ng-show="{{pubkeyUpdating}}">

        </span>
        <input ng-bind="password" class="form-control" type="password" placeholder="password">
        <div class="modal-footer">
            <button type="button" class="btn btn-primary glyphicon glyphicon-ok-sign" ng-click="addHost()">
                Add
            </button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-remove" ng-click="close()">
                Cancel
            </button>
        </div>
    </script>

</body>
</html>