<!DOCTYPE html>
<html ng-app="kerubApp">
<head>
	<meta charset="UTF-8">
	<title>kerub</title>
	<script src="webjars/angularjs/1.4.9/angular.min.js"></script>
	<script src="webjars/angularjs/1.4.9/angular-sanitize.min.js"></script>
	<script src="webjars/angularjs/1.4.9/angular-route.min.js"></script>
	<script src="webjars/angular-uuid4/0.2.1/angular-uuid4.min.js"></script>
	<script src="webjars/angular-ui-bootstrap/1.1.1-1/ui-bootstrap-tpls.min.js"></script>
	<script src="webjars/sockjs-client/0.3.4/sockjs.min.js"></script>
	<script src="webjars/markdown-js/0.5.0/markdown.js"></script>
	<script src="webjars/nervgh-angular-file-upload/2.1.1/angular-file-upload.min.js"></script>
	<script src="webjars/angular-bootstrap-toggle-switch/0.5.6/angular-toggle-switch.min.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/app.js"></script>
	<script src="js/socket.js"></script>
	<script src="js/SizeUtil.js"></script>
	<script src="js/Session.js"></script>
	<script src="js/Login.js"></script>
	<script src="js/HostTab.js"></script>
	<script src="js/VmTab.js"></script>
	<script src="js/BusType.js"></script>
	<script src="js/VirtualStorageLink.js"></script>
	<script src="js/VirtualDisksTab.js"></script>
	<script src="js/VmRow.js"></script>
	<script src="js/VersionInfo.js"></script>
	<script src="js/NewHostWizard.js"></script>
	<script src="js/NewVirtualDiskWizard.js"></script>
	<script src="js/NewVirtualNetworkWizard.js"></script>
	<script src="js/NewVmWizard.js"></script>
	<script src="js/NewAccountWizard.js"></script>
	<script src="js/NewProjectWizard.js"></script>
	<script src="js/HostDetails.js"></script>
	<script src="js/HostRowController.js"></script>
	<script src="js/MainTabs.js"></script>
	<script src="js/Expectations.js"></script>
	<script src="js/ExpectationMini.js"></script>
	<script src="js/DiskSelectionElem.js"></script>
	<script src="js/StorageDeviceRow.js"></script>
	<script src="js/SearchController.js"></script>
	<script src="js/VirtualNetworkTab.js"></script>
	<script src="js/NoMigrationExpectationEdit.js"></script>
	<script src="js/NotSameHostExpectationEdit.js"></script>
	<script src="js/StorageRedundancyMigrationExpectationEdit.js"></script>
	<script src="js/HostChassisManufacturerExpectationEdit.js"></script>
	<script src="js/CpuClockFreqExpectationEdit.js"></script>
	<script src="js/CacheSizeExpectationEdit.js"></script>
	<script src="js/Settings.js"></script>
	<script src="js/AccountsAdmin.js"></script>
	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="webjars/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="webjars/angular-bootstrap-toggle-switch/0.5.6/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" rel="stylesheet"/>
	<link href="css/kerub.css" rel="stylesheet"/>
	<link rel="icon" href="img/kerub.ico" type="image/png"/>
</head>
<body>

<div ng-controller="Login">
	<script type="text/ng-template" id="Login.html">
		<div class="modal-header">
			<h3 class="modal-title">Login</h3>
		</div>
		<form ng-submit="login()">
			<div class="modal-body">

				<div class="media login-screen form-group">
					<div class="media-right thumbnail col-sm-3 col-md-3">
						<a href="#">
							<img src="img/kerub.png" class="media-object" alt="logo"/>
						</a>
						<div class="caption">
							<span class="" ng-bind="version.title"></span>
							<span ng-bind="version.version"></span>
						</div>
					</div>
					<div class="media-body">
                            <span ng-bind-html="motd">
                            </span>
					</div>
				</div>

				<form class="form-inline">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="fa fa-user"></span></div>
							<input ng-model="username" class="form-control input-lg" placeholder="username" autofocus>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="fa fa-key"></span></div>
							<input ng-model="password" class="form-control input-lg" type="password"
							       placeholder="password" ng-keypress="onKeyPress($event)">
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-disabled="inprg" ng-click="login()">
					<span ng-class="{true: 'fa fa-cog fa-spin', false: 'glyphicon glyphicon-ok-sign'}[inprg]"></span>
				</button>
			</div>
		</form>
	</script>
</div>

<span ng-include="'MainTabs.html'"/>

<script type="text/ng-template" id="ExpectationSelection.html">
	...
</script>

<script type="text/ng-template" id="NewVirtualDiskWizard.html">
	<div class="modal-header">
		<h3 class="modal-title">New Virtual Disk</h3>
	</div>
	<div class="modal-body">
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>General</uib-tab-heading>

				<form class="form-horizontal">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-barcode"/></div>
							<input
									ng-model="disk.id"
									class="form-control"
									uib-tooltip="Virtual disk unique ID"
									readonly>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-tag"/></div>
							<input ng-model="disk.name" class="form-control" uib-tooltip="Virtual disk name"
							       ng-change="nameChanged()">
							<div class="input-group-btn">
								<button type="button"
								        ng-click="disk.readOnly = !disk.readOnly"
								        ng-class="{true: 'btn btn-primary', false: 'btn btn-default'}[!disk.readOnly]"
								        uib-tooltip="{{disk.readOnly ? 'Read Only' : 'Read-Write'}}">
									<span class="fa fa-edit"/>
									<span class="fa fa-lock" ng-if="disk.readOnly"></span>
									<span class="fa fa-unlock" ng-if="!disk.readOnly"></span>
								</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-resize-full"/></div>
							<input ng-model="disk.userFriendlySize"
							       ng-model-options="{ getterSetter: true }"
							       ng-disabled="uploader.queue.length"
							       class="form-control"
							       uib-tooltip="Virtual disk size"
							       autofocus>
						</div>
					</div>

					<div nv-file-drop=""
					     class="form-group"
					     uploader="uploader"
					     ng-if="!uploader.progress && uploader.queue.length == 0"
					     uib-tooltip="Drag the disk image file here!">
						<div nv-file-over="" uploader="uploader" over-class="well drop-zone" class="well drop-zone">
							<span ng-if="uploader.queue.length == 0" class="glyphicon glyphicon-upload"></span>
						</div>
					</div>

					<div ng-repeat="item in uploader.queue" class="well">
                        <span ng-if="!isIso(item)" class="fa fa-file">
                        </span><span ng-if="isIso(item)" class="glyphicon glyphicon-cd"></span>
						{{item.file.name}}
					</div>

					<div class="form-group progress" ng-if="uploader.progress">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">
							{{uploader.progress}}%
						</div>
					</div>

				</form>


			</uib-tab>
			<uib-tab>
				<uib-tab-heading>Expectations</uib-tab-heading>

                <span ng-if="!storageExpectationFormOpen">
                    <div class="btn-group" ng-class='{open: storageExpectationsOpen}'>
	                    <button type="button"
	                            class="btn btn-default dropdown-toggle glyphicon glyphicon-plus-sign"
	                            data-toggle="dropdown"
	                            aria-haspopup="true"
	                            aria-expanded="false"
	                            uib-tooltip="Add an expectation to this virtual disk"
	                            ng-click='storageExpectationsOpen=!storageExpectationsOpen'>
		                    <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu">
		                    <li ng-repeat="expType in diskExpectations">
			                    <a ng-click="openExpectationForm(expType)"
			                       uib-tooltip-html="expType.tooltip || 'Add this expectation'"
			                       tooltip-placement="right"><span ng-class="expType.icon"></span>
				                    {{expType.displayName}}</a>
		                    </li>
	                    </ul>
                    </div>

                </span>
                <span ng-if="storageExpectationFormOpen" ng-include="newExpectation.template">

                </span>

			</uib-tab>
		</uib-tabset>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary glyphicon glyphicon-ok-sign" ng-click="addStorage()"
		        uib-tooltip="Create this virtual disk" tooltip-placement="top">
		</button>
		<button type="button" class="btn btn-primary glyphicon glyphicon-remove" ng-click="close()" uib-tooltip="Cancel"
		        tooltip-placement="top">
		</button>
	</div>
</script>

<script type="text/ng-template" id="expectation-edit-template-buttons">
	<div class="btn-group">
		<label class="btn {{expectation.level == 'Wish' ? 'btn-success' : 'btn-default'}} fa fa-heart"
		       ng-model="expectation.level"
		       uib-btn-radio="'Wish'"></label>
		<label class="btn {{expectation.level == 'Want' ? 'btn-info' : 'btn-default'}} fa fa-legal"
		       ng-model="expectation.level"
		       uib-btn-radio="'Want'"></label>
		<label class="btn {{expectation.level == 'DealBreaker' ? 'btn-warning' : 'btn-default'}} fa fa-power-off"
		       ng-model="expectation.level"
		       uib-btn-radio="'DealBreaker'"></label>
	</div>
	<button type="button"
	        role="button"
	        class="btn btn-primary glyphicon glyphicon-ok-sign"
	        ng-click="addExpectation()"
	        uib-tooltip="Add this expectation"></button>
	<button type="button" class="btn btn-default glyphicon glyphicon-remove-sign"
	        uib-tooltip="Scrap this expectation"></button>
</script>

<script type="text/ng-template" id="site-features-expectation-edit-template">
	<div class="media" ng-controller="SiteFeaturesExpectationEdit" ng-init="init(vm)">
		<div class="media-left">
			<span class="fa fa-ban expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">

				<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>
	</div>

</script>

<script type="text/ng-template" id="not-same-host-edit-template">
	<div class="media" ng-controller="NotSameHostExpectationEdit" ng-init="init(vm)">
		<div class="media-left">
			<span class="fa fa-ban expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-cubes"></span></div>
				<input class="form-control input-lg"
				       placeholder="virtual machine"
				       uib-typeahead="result as result.name for result in listVms($viewValue)"
				       typeahead-template-url="VmSelection.html"
				       typeahead-editable="false"
				       typeahead-min-length="2"
				       typeahead-wait-ms="200"
				       typeahead-on-select="selectVm()"
				       ng-model="otherVm"
				       autofocus
				       autocomplete="off"
				       tooltip-placement="right"
				       uib-tooltip="Number of copies">
				</div>

				<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>
	</div>

</script>

<script type="text/ng-template" id="cache-size-edit-template">
	<div class="media" ng-controller="CacheSizeExpectationEdit" ng-init="init(vm)">
		<div class="media-left">
			<span class="glyphicon glyphicon-flash expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></div>
					<input class="form-control input-lg"
					       placeholder="Minimal Cache Size"
					       ng-model="expectation.minL1"
					       autofocus
					       autocomplete="off">

				</div>

				<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="cpu-clock-freq-edit-template">
	<div class="media" ng-controller="CpuClockFreqExpectationEdit" ng-init="init(vm)">
		<div class="media-left">
			<span class="glyphicon glyphicon-flash expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></div>
					<input class="form-control input-lg"
					       placeholder="Minimal Clock Frequency"
					       ng-model="expectation.minimalClockFrequency"
					       autofocus
					       autocomplete="off">

				</div>

				<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>

	</div>
</script>

<script type="text/ng-template" id="host-chassis-manufacturer-edit-template">
	<div class="media" ng-controller="HostChassisManufacturerExpectationEdit" ng-init="init(vm)">
		<div class="media-left">
			<span class="fa fa-industry expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-industry"></span></div>
					<input class="form-control input-lg"
					       placeholder="manufacturer"
					       uib-typeahead="result as result for result in listManufacturers($viewValue) | filter:$viewValue"
					       typeahead-editable="true"
					       typeahead-min-length="2"
					       typeahead-wait-ms="200"
					       typeahead-on-select="selectManufacturer()"
					       ng-model="manufacturer"
					       autofocus
					       autocomplete="off">

				</div>

				<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="storage-redundancy-edit-template">
	<div class="media" ng-controller="StorageRedundancyMigrationExpectationEdit" ng-init="init(disk)">
		<div class="media-left">
			<span class="fa fa-copy expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>
					<div class="input-group">
						<div class="input-group-addon"><span class="fa fa-copy"></span></div>
						<input class="form-control input-lg"
						       placeholder="number of copies"
						       autofocus
						       maxlength="1"
						       width="1"
						       max="4"
						       min="2"
						       tooltip-placement="right"
						       uib-tooltip="Number of copies"
						       ng-model="expectation.nrOfCopies"
						       type="number">
					</div>

					<span ng-include="'expectation-edit-template-buttons'"></span>

			</div>
		</div>
	</div>

</script>

<script type="text/ng-template" id="no-migration-edit-template">

	<div class="media" ng-controller="NoMigrationExpectationEdit" ng-init="init(disk)">
		<div class="media-left">
			<span class="glyphicon glyphicon-pushpin expectation-big-icon"></span>
		</div>
		<div class="media-body">
			<div class="caption">
				<p>Please do not migrate this resource!
					<span ng-include="'expectation-edit-template-buttons'"></span>
			</div>
		</div>
	</div>

</script>

<script type="text/ng-template" id="AccountSelection.html">
	<div>
		<span class="fa fa-credit-card">
		</span>
		{{match.model.name}}
		<span ng-if="match.model.quota" class="label label-default">
			TODO: quota here
		</span>
	</div>
</script>

<script type="text/ng-template" id="DiskSelection.html">
	<a ng-controller="DiskSelectionElem">
		<span ng-if="!match.model.readonly" class="fa fa-database"></span>
		<span ng-if="match.model.readonly" class="glyphicon glyphicon-cd"></span>
		{{match.model.name}} - {{humanFriendlySize(match.model.size)}}<br>
            <span class="label label-default">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> TODO
            </span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> TODO
            </span>
	</a>
</script>

<script type="text/ng-template" id="VmSelection.html">
	<span>
		{{match.model.name}}
	</span>
</script>


<script type="text/ng-template" id="NewVmWizard.html">
	<div class="modal-header">
		<h3 class="modal-title">New VM</h3>
	</div>
	<div class="modal-body">
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>General</uib-tab-heading>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-barcode"/></div>
							<input
									ng-model="vm.id"
									class="form-control"
									readonly
									uib-tooltip="Virtual Machine unique identifier">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-tag"/>
							</div>
							<input
									ng-model="vm.name"
									class="form-control"
									placeholder="vm name"
									uib-tooltip="Virtual Machine name"
									autofocus>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-cog"/>
							</div>
							<input
									ng-model="vm.nrOfCpus"
									class="form-control"
									uib-tooltip="Number of virtual CPUs for the virtual machine"
									type="number">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-signal"/>
							</div>
							<input
									ng-model="vm.memory.humanFriendlyMin"
									ng-model-options="{ getterSetter: true }"
									uib-tooltip="Minimal amount of memory for the virtual machine"
									class="form-control">
							<input
									ng-model="vm.memory.humanFriendlyMax"
									ng-model-options="{ getterSetter: true }"
									uib-tooltip="Maximal amount of memory for the virtual machine"
									class="form-control">
						</div>
					</div>
				</form>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>Disks</uib-tab-heading>
				<table class="table table-condensed table-striped table-hover">
					<thead>
					<tr>
						<td>name</td>
						<td>bus</td>
						<td>size</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="link in vm.virtualStorageLinks" ng-controller="StorageDeviceRow"
					    ng-init="init(link.virtualStorageId)">
						<td>{{storageDevice.name}}</td>
						<td>{{link.bus}}</td>
						<td>{{friendlyDiskSize}}</td>
					</tr>
					</tbody>
				</table>
				<uib-tabset>
					<uib-tab>
						<uib-tab-heading><span class="glyphicon glyphicon-link"></span> Existing</uib-tab-heading>
						<div ng-controller="VirtualStorageLink">

							<div class="form-group" ng-controller="BusType">
								<div class="input-group">
									<span class="btn-group" uib-dropdown>
										<button type="button" class="btn btn-primary" uib-dropdown-toggle>
											<span class="fa fa-chain"></span> {{link.bus}}
											<span class="caret"></span>
											<span class="sr-only">Split button!</span>
										</button>
										<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
											<li class="menuitem" ng-click="setBus('ide')"><a href="#"><span class="glyphicon glyphicon-hdd"></span> ide</a></li>
											<li class="menuitem" ng-click="setBus('scsi')"><a href="#"><span class="fa fa-exchange"></span> scsi</a></li>
											<li class="menuitem" ng-click="setBus('sata')"><a href="#"><span class="fa fa-exchange"></span> sata</a></li>
											<li class="menuitem" ng-click="setBus('usb')"><a href="#"><span class="fa fa-usb"></span> usb</a></li>
											<li class="menuitem" ng-click="setBus('virtio')"><a href="#"><span class="fa fa-cube"></span> virtio</a></li>
											<li class="menuitem" ng-click="setBus('xen')"><a href="#"><span class="fa fa-cube"></span> xen</a></li>
										</ul>
									</span>

									<span class="btn-group" uib-dropdown>
										<button type="button" class="btn btn-primary" uib-dropdown-toggle>
											<span class="fa fa-floppy-o" ng-if="link.device == 'floppy'"></span>
											<span class="fa fa-hdd-o" ng-if="link.device == 'disk'"></span>
											<span class="glyphicon glyphicon-cd" ng-if="link.device == 'cdrom'"></span>
											{{link.device}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
											<li class="menuitem" ng-click="setType('floppy')"><a href="#"><span class="fa fa-floppy-o"></span> floppy</a></li>
											<li class="menuitem" ng-click="setType('disk')"><a href="#"><span class="fa fa-hdd-o"></span> disk</a></li>
											<li class="menuitem" ng-click="setType('cdrom')"><a href="#"><span class="glyphicon glyphicon-cd"></span> cdrom</a></li>
										</ul>
									</span>

								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span ng-show="loadingDisks" class="glyphicon glyphicon-refresh"></span>
										<span ng-show="!loadingDisks" class="fa fa-tag"></span>
									</div>
									<input type="text"
									       ng-model="existingStorageDevice"
									       class="form-control"
									       data-provide="typeahead"
									       uib-typeahead="result as result.name for result in listDisksByName($viewValue)"
									       placeholder="Type disk name"
									       autocomplete="off"
									       typeahead-template-url="DiskSelection.html"
									       typeahead-min-length="3"
									       typeahead-wait-ms="200"
									       typeahead-on-select="linkExistingVirtualDisk()"
									/>
								</div>
							</div>

						</div>

					</uib-tab>
					<uib-tab>
						<uib-tab-heading disabled="disabled"><span class="glyphicon glyphicon-plus-sign"></span> New
						</uib-tab-heading>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="fa fa-tag"></span>
								</div>
								<label class="control-label sr-only">Name</label>
								<input type="text" class="form-control" placeholder="Name"/>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="fa fa-hdd-o"></span>
								</div>
								<label class="control-label sr-only">Size</label>
								<input type="text" class="form-control" placeholder="Size (e.g 20 GB)"/>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>Network</uib-tab-heading>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>Expectations</uib-tab-heading>

                <span ng-if="!vmExpectationFormOpen">
                    <div class="btn-group" ng-class='{open: vmExpectationsOpen}'>
	                    <button type="button"
	                            class="btn btn-default dropdown-toggle glyphicon glyphicon-plus-sign"
	                            data-toggle="dropdown"
	                            aria-haspopup="true"
	                            aria-expanded="false"
	                            uib-tooltip="Add an expectation to this virtual machine"
	                            ng-click='vmExpectationsOpen=!vmExpectationsOpen'>
		                    <span class="caret"></span>
	                    </button>

					   <span ng-repeat="expectation in vm.expectations"
					         ng-controller="ExpectationMini"
					         ng-init="init(expectation)">
		                        <span class="label label-{{style}}">
		                                <span class="{{icon}}"></span>
		                                {{description}}
		                        </span>
		                </span>


	                    <ul class="dropdown-menu">
		                    <li ng-repeat="expType in vmExpectations">
			                    <a ng-click="openExpectationForm(expType)"
			                       uib-tooltip-html="expType.tooltip || 'Add this expectation'"
			                       tooltip-placement="right"><span ng-class="expType.icon"></span>
				                    {{expType.displayName}}</a>
		                    </li>
	                    </ul>
                    </div>

                </span>
                <span ng-if="vmExpectationFormOpen" ng-include="newExpectation.template">
                </span>


			</uib-tab>
		</uib-tabset>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary glyphicon glyphicon-ok-sign" ng-click="addVm()"
		        uib-tooltip="Add this VM" tooltip-placement="top">
		</button>
		<button type="button" class="btn btn-primary glyphicon glyphicon-remove" ng-click="close()" uib-tooltip="Cancel"
		        tooltip-placement="top">
		</button>
	</div>

</script>

<script type="text/ng-template" id="NewVirtualNetworkWizard.html">

	<div class="modal-header">
		<h3 class="modal-title">New Virtual Network</h3>
	</div>
	<div class="modal-body">

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-barcode"></span>
				</div>
				<input type="text"
				       ng-model="vnet.id"
				       class="form-control"
				       placeholder="Virtual Network ID"
				       autocomplete="off"
				       readonly
				/>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="fa fa-tag"></span>
				</div>
				<input type="text"
				       ng-model="vnet.name"
				       class="form-control"
				       placeholder="Virtual Network Name"
				       autocomplete="off"
				/>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button
				type="button"
				ng-click="addVirtualNetwork()"
				class="btn btn-primary"
				ng-disabled=""
				uib-tooltip="Add Virtual Network"
				tooltip-placement="top">
			<span ng-class="{false:'glyphicon glyphicon-ok-sign', true:'fa fa-refresh fa-spin'}[inprg]"></span>
		</button>
		<button
				type="button"
				class="btn btn-primary glyphicon glyphicon-remove"
				ng-click="close()"
				ng-disabled="inprg"
				uib-tooltip="Cancel"
				tooltip-placement="top">
		</button>
	</div>

</script>

<script type="text/ng-template" id="NewHostWizard.html">

	<div class="modal-header">
		<h3 class="modal-title">Join Host {{host.address}}</h3>
	</div>
	<div class="modal-body">
	<div ng-if="errors.length > 0" ng-repeat="error in errors">
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-ban-circle"></span> {{error.message}} [{{error.code}}]
		</div>
	</div>
	<div class="input-group">
		<div class="input-group-addon">
			<span class="glyphicon glyphicon-map-marker"></span>
		</div>
		<input
				ng-model="host.address"
				class="form-control"
				placeholder="address"
				ng-blur="updatePubkey()"
				autocomplete="off"
				autofocus>
		<div class="input-group-btn">
			<button
					type="button"
					class="btn btn-default"
					uib-tooltip="If host is dedicated, kerub can use all resources, change configuration and turn off when the host is not needed"
					ng-click="host.dedicated = !host.dedicated">
				<span ng-class="{true: 'glyphicon glyphicon-heart', false: 'glyphicon glyphicon-heart-empty'}[host.dedicated]"></span>
			</button>
		</div>
	</div>
	<div class="input-group">
		<div class="input-group-addon">
			<span ng-class="{true: 'fa fa-refresh fa-spin', false: 'fa fa-cog'}[pubkeyUpdating]"></span>
		</div>
		<input
				ng-model="host.publicKey"
				readonly
				disabled
				class="form-control"
				placeholder="fingerprint">
	</div>
	<div class="input-group" ng-show="!usepubkey">
		<div class="input-group-btn">
			<button type="button" class="btn button-default" ng-click="usepubkey = !usepubkey">
				<span class="glyphicon glyphicon-asterisk"></span>
			</button>
		</div>
		<input
				ng-model="password.password"
				class="form-control"
				type="password"
				placeholder="password"
				ng-keypress="onKeyPress($event)">
	</div>
	<div class="input-group" ng-show="usepubkey">
		<div class="input-group-btn">
			<button type="button" class="btn button-default" ng-click="usepubkey = !usepubkey">
				<span class="fa fa-key"></span>
			</button>
		</div>
		<input readonly="readonly" class="form-control" rows="3" ng-value="controllerKey" uib-tooltip="Add to /root/.ssh/authorized_keys">
		</input>
	</div>

	</div>
	<div class="modal-footer">
		<button
				type="button"
				ng-click="addHost()"
				class="btn btn-primary"
				ng-disabled="inprg || host.address == '' || (!usepubkey && password.password == '') || host.publicKey == '' "
		        uib-tooltip="Join this host to the IaaS service"
				tooltip-placement="top">
			<span ng-class="{false:'glyphicon glyphicon-ok-sign', true:'fa fa-refresh fa-spin'}[inprg]"></span>
		</button>
		<button
				type="button"
				class="btn btn-primary glyphicon glyphicon-remove"
				ng-click="close()"
				ng-disabled="inprg"
				uib-tooltip="Cancel"
		        tooltip-placement="top">
		</button>
	</div>

</script>

<script type="text/ng-template" id="CreateAccount.html">
	<div class="modal-header">
		<h3 class="modal-title">
			<span class="fa fa-credit-card"></span> New Account</h3>
	</div>

	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-barcode"></span>
		</div>
		<input
				ng-model="account.id"
				readonly
				disabled
				class="form-control"
				placeholder="ID">
	</div>
	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-tag"></span>
		</div>
		<input
				ng-model="account.name"
				class="form-control"
				placeholder="Name">
	</div>

	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-code"></span> Projects
		</div>
		<toggle-switch ng-model="account.requireProjects" html="true" on-label="<i class='fa fa-lock'></i>" off-label="<i class='fa fa-unlock'></i>"></toggle-switch>
	</div>

	<div class="modal-footer">
		<button
				type="button"
				ng-click="addAccount()"
				class="btn btn-primary glyphicon glyphicon-ok-sign"
				uib-tooltip="Create the account"
				tooltip-placement="top">
		</button>
		<button
				type="button"
				class="btn btn-primary glyphicon glyphicon-remove"
				ng-click="close()"
				ng-disabled="inprg"
				uib-tooltip="Cancel"
				tooltip-placement="top">
		</button>
	</div>

</script>

<script type="text/ng-template" id="CreateProject.html">
	<div class="modal-header">
		<h3 class="modal-title">
			<span class="fa fa-code"></span> New Project</h3>
	</div>

	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-barcode"></span>
		</div>
		<input
				ng-model="project.id"
				readonly
				disabled
				class="form-control"
				placeholder="ID">
	</div>
	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-tag"></span>
		</div>
		<input
				ng-model="project.name"
				class="form-control"
				placeholder="Name">
	</div>

	<div class="input-group">
		<div class="input-group-addon">
			<span class="glyphicon glyphicon-pencil"></span>
		</div>
		<input class="form-control" ng-model="project.description"/>
	</div>


	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-credit-card"></span>
		</div>
		<input class="form-control input-lg"
		       placeholder="account"
		       uib-typeahead="result as result.name for result in listAccounts($viewValue)"
		       typeahead-template-url="AccountSelection.html"
		       typeahead-editable="false"
		       typeahead-min-length="2"
		       typeahead-wait-ms="200"
		       typeahead-on-select="selectAccount()"
		       ng-model="account"
		       autofocus
		       autocomplete="off"
		       tooltip-placement="right"
		       uib-tooltip="Number of copies">
	</div>

	<div class="modal-footer">
		<button
				type="button"
				ng-click="addProject()"
				class="btn btn-primary glyphicon glyphicon-ok-sign"
				uib-tooltip="Create the account"
				tooltip-placement="top">
		</button>
		<button
				type="button"
				class="btn btn-primary glyphicon glyphicon-remove"
				ng-click="close()"
				ng-disabled="inprg"
				uib-tooltip="Cancel"
				tooltip-placement="top">
		</button>
	</div>

</script>


<script type="text/ng-template" id="HostDetails.html">
	<div class="modal-header">
		<h3 class="modal-title">
			<span ng-if="dyn.status" ng-class="hostStatusIcon()"></span>
			<span ng-if="!dyn.status" class="fa fa-question"></span>
			Host Details - {{host.address}}</h3>
	</div>
	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="isActive('overview')" ng-click="selectView('overview')"><a
				href="#">Overview</a></li>
		<li role="presentation" ng-class="isActive('software')" ng-click="selectView('software')"><a
				href="#">Software</a></li>
		<li role="presentation" ng-class="isActive('CPU')" ng-class="" ng-click="selectView('CPU')"><a href="#">CPU</a>
		</li>
		<li role="presentation" ng-class="isActive('RAM')" ng-class="" ng-click="selectView('RAM')"><a href="#">RAM</a>
		</li>
		<li role="presentation" ng-class="isActive('IO')" ng-click="selectView('IO')"><a href="#">I/O</a></li>
	</ul>
	<form class="modal-body" ng-show="isVisible('overview')">
		<div class="form-group">
			<span class="input-group">
				<span class="input-group-addon fa-fw">
					<span class="glyphicon glyphicon-barcode"></span>
				</span>
				<input class="form-control" ng-model="host.id" disabled>
				<span class="input-group-addon">
					<span ng-class="{true:'glyphicon glyphicon-heart', false:'glyphicon glyphicon-heart-empty'}[host.dedicated]"></span>
				</span>
			</span>
		</div>
		<div class="form-group">
			<span class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-gear fa-fw"></span>
				</span>
				<input class="form-control" ng-model="host.publicKey" disabled>
			</span>
		</div>
		<div ng-if="host.capabilities">
			<div class="form-group" ng-if="host.capabilities.os">
				<span class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-code fa-fw"></span>
					</span>
					<input class="form-control" ng-model="host.capabilities.os" disabled>
				</span>
			</div>
			<div class="form-group" ng-if="host.capabilities.distribution">
				<span class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-code-fork fa-fw"></span>
					</span>
					<input
							class="form-control"
							value="{{host.capabilities.distribution.name}} - {{host.capabilities.distribution.ver.major}} {{host.capabilities.distribution.ver.minor}}"
							disabled>
				</span>
			</div>
			<div class="form-group" ng-if="host.capabilities.cpuArchitecture">
				<span class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-server fa-fw"></span>
					</span>
					<input class="form-control" ng-model="host.capabilities.cpuArchitecture" disabled>
				</span>
			</div>
		</div>
	</form>
	<form class="modal-body" ng-show="isVisible('software')">
            <span ng-repeat="software in host.capabilities.installedSoftware">
                <span class="label label-default">
                    {{software.name}} {{software.ver.major}}<span
		                ng-if="software.ver.minor">.{{software.ver.minor}}</span><span ng-if="software.ver.build">.{{software.ver.build}}</span>
                </span>&nbsp;
            </span>
	</form>
	<form class="modal-body" ng-show="isVisible('CPU')">

		<div class="form-group">
			<div class="form-group">
				<uib-progress>
					<uib-bar value="dyn.userCpu" max="100" type="info">{{dyn.userCpu}} %</uib-bar>
					<uib-bar value="dyn.systemCpu" max="100" type="warning">{{dyn.systemCpu}} %</uib-bar>
				</uib-progress>
			</div>
		</div>

		<div class="form-group">
			<span class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-asterisk"></span>
				</span>
				<input class="form-control" ng-value="nrOfCpus" disabled>
			</span>
		</div>
            <span ng-repeat="cpu in host.capabilities.cpus">
                <div class="form-group" ng-if="cpu.manufacturer">
	                <span class="input-group">
		                <span class="input-group-addon">
			                <span class="fa fa-industry"></span>
		                </span>
		                <input
				                class="form-control"
				                ng-model="cpu.manufacturer"
				                uib-tooltip="CPU manufacturer"
				                disabled>
	                </span>
                </div>
                <div class="form-group" ng-if="cpu.version">
	                <span class="input-group">
		                <span class="input-group-addon">
			                <span class="fa fa-code-fork"></span>
		                </span>
		                <input
				                class="form-control"
				                ng-model="cpu.version"
				                uib-tooltip="CPU version"
				                disabled>
	                </span>
                </div>
                <div class="form-group" ng-if="cpu.coreCount">
	                <span class="input-group">
		                <span class="input-group-addon">
			                <span class="fa fa-cog"></span>
		                </span>
	                    <input
			                    class="form-control"
			                    ng-model="cpu.coreCount"
			                    uib-tooltip="Number of cores"
			                    disabled>
	                </span>
                </div>
                <div class="form-group" ng-if="cpu.threadCount">
	                <span class="input-group">
		                <span class="input-group-addon">
			                <span class="fa fa-cogs"></span>
		                </span>
		                <input
				                class="form-control"
				                ng-model="cpu.threadCount"
				                uib-tooltip="Number of threads"
				                disabled>
	                </span>
                </div>
                <div class="form-group" ng-if="cpu.maxSpeedMhz">
	                <span class="input-group">
		                <span class="input-group-addon">
			                <span class="fa fa-dashboard"></span>
		                </span>
	                <input
			                class="form-control"
			                ng-value="cpu.maxSpeedMhz + ' Mhz'"
			                uib-tooltip="Maximal clock frequency"
			                disabled>
	                </span>
                </div>
            </span>
	</form>
	<form ng-show="isVisible('RAM')">
		<div class="form-group">
			<div class="form-group">
				<uib-progress ng-if="host.capabilities.totalMemory && dyn.memUsed">
					<!--
						dynamic maximum is not supported by angular bootstrap, so this is a workaround here

					-->
					<uib-bar value="hostMemUsedPercent()" max="100" type="warning">
						{{humanFriendlySize(dyn.memUsed)}} / {{humanFriendlySize(host.capabilities.totalMemory)}}
					</uib-bar>
				</uib-progress>
			</div>
		</div>

		<table class="table table-condensed table-striped table-hover">
			<thead>
			<tr>
				<td>Device</td>
				<td>Details</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="device in host.capabilities.memoryDevices">
				<td>
					{{device.serialNumber}}
				</td>
				<td>
                            <span ng-if="device.type">
                                <span class="label label-default">{{device.type}}</span>
                            </span>
                            <span ng-if="device.size">
                                <span class="label label-default">{{humanFriendlySize(device.size)}}</span>
                            </span>
                            <span ng-if="device.formFactor">
                                <span class="label label-default">{{device.formFactor}}</span>
                            </span>
                            <span ng-if="device.speedMhz">
                                <span class="label label-default">{{device.formFactor}}</span>
                            </span>
                            <span ng-if="device.manufacturer">
                                <span class="label label-default"><span class="fa fa-industry"></span> {{device.manufacturer}}</span>
                            </span>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
	<form ng-show="isVisible('IO')">
		<table class="table table-condensed table-striped table-hover">
			<thead>
			<tr>
				<td>Capacity</td>
				<td>Details</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="cap in host.capabilities.storageCapabilities">
				<td>{{humanFriendlySize(cap.size)}}</td>
				<td>
                            <span ng-if="cap['@type'] === 'lvm'">
                                {{cap.physicalVolumes.length}}
                                <span class="label label-default"><span class="fa fa-linux"></span> lvm</span>
                                <span ng-repeat="pv in cap.physicalVolumes track by $index" class="label label-info">
                                    <span class="fa fa-hdd-o"></span> {{humanFriendlySize(pv)}}
                                </span>

                            </span>
                            <span ng-if="cap['@type'] === 'fs'">
                                <span class="label label-default"><span class="fa fa-folder"></span> {{cap.mountPoint}}</span>
                            </span>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
</script>

</body>
</html>
