<script type="text/ng-template" id="NewHostWizard.html" >

    <div class="modal-header">
        <h3 class="modal-title">New Host {{host.address}}</h3>
    </div>
    <input ng-model="host.address" class="form-control" placeholder="address" ng-change="updatePubkey()">
    <input ng-model="host.publicKey" readonly disabled class="form-control" placeholder="fingerprint">
    <input ng-model="password" class="form-control" type="password" placeholder="password">

    <span ng-show="pubkeyUpdating">
                updating
            </span>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary glyphicon glyphicon-ok-sign" ng-click="addHost()">
            Add
        </button>
        <button type="button" class="btn btn-primary glyphicon glyphicon-remove" ng-click="close()">
            Cancel
        </button>
    </div>

</script>
