<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">


    <!--
    DAO
    -->

    <bean id="vmDao" class="com.github.K0zka.kerub.data.ispn.VirtualMachineDaoImpl"></bean>
    <bean id="hostDao" class="com.github.K0zka.kerub.data.ispn.HostDaoImpl"></bean>

    <!--
    REST
    -->

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <jaxrs:server id="customerService" address="/rest">
        <jaxrs:serviceBeans>
            <bean id="host" class="com.github.K0zka.kerub.services.impl.HostServiceImpl">
                <constructor-arg ref="hostDao"/>
            </bean>
            <bean id="vm" class="com.github.K0zka.kerub.services.impl.VirtualMachineServiceImpl">
                <constructor-arg ref="vmDao"/>
            </bean>
        </jaxrs:serviceBeans>
    </jaxrs:server>


</beans>